body{
  background-color: #333333;
  color:#ccc;
  padding: 20px;
  box-sizing: border-box;
  h1.mainTitle{
    font-size:2.5rem;
  }
  div.navbar{
    padding:10px 0;
    ul{
      list-style-type: none;
      display:flex;
      padding-left: 0;
      margin-left:0 ;
      
      li{
        margin-right:20px;
        a{
          font-size: 2rem;
          text-decoration: none;
          color:#ccc;
          padding: 10px;
          padding-left: 0;
          &:hover{
            color:#333;
            background-color: #ccc;
          }
          
        }
        a.active{
          color:yellow;
        }
      }
    }
  }
  .pageBooks{
    .spinner{
      color:#aaa;
      font-size:4rem;
      animation: spin infinite 2s linear;
    }
    @keyframes spin{
      from{
        transform: rotate(0deg);
      }
      to{
        transform:rotate(360deg);
      }
    }
    div.bookBox{
      display:flex;
      width: 500px;
      margin-bottom: 20px;
      background-color: #222222;
      padding: 10px;
      .imageSide{
        img{
          height:160px
        }
      }
      .infoSide{
        padding-left: 10px;;
        h4{
          color:#cb9f4c;
          font-size:1.3rem;
          margin-top: 0;
          margin-bottom: 10px;
        }
        p{
          font-style: italic;
          font-size: 1rem;
          line-height: 25px;
          text-align: justify;
        }
      }
    }
  }
}